$backgroundColor: #F9F7F5;
$lightColor: #D20000;
$darkColor: #AF0000;
$bodyColor: #D20000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

body {
	background: $backgroundColor;
	color: $bodyColor;
	font-family: $bodyFont;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100dvh;
	margin: 0;
}

.top {
	width: 100%;
	height: 9%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}

.title {
	width: 100%;
	height: 75%;
	font-size: 4.6vh;
	font-weight: 900;
	color: $darkColor;
	font-family: Helvetica;
	text-align: center;
	border-bottom: 1px solid $darkColor;
	box-sizing: border-box;
	overflow: visible;
}

.ticker {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 25%;
	font-size: 1.4vh;
	padding: 0 1vh;
	border-bottom: 1px solid $darkColor;
	box-sizing: border-box;
	overflow: visible;
}

.issueNumber {
	text-align: left;
	width: 30%;
}

.description{
	text-align: center;
	width: 40%;
}

.date {
	text-align: right;
	width: 30%;
}

.main {
	max-width: 1200px;
	width: 100%;
	height: 91%;
	padding: 1.6vh 0;
	box-sizing: border-box;
}

.videoContainer, .playContainer {
	height: 100%;
	float: left;
	display: flex;
	flex-direction: column;
}

.videoContainer {
	width: 28%;
	padding: 0 2%;
	box-sizing: border-box;
	justify-content: flex-start;
	align-items: flex-start; /* Align items to the left */
}

.playContainer {
	width: 72%;
	justify-content: center;
	align-items: center;
	/*background-color: #fefbf8;*/
}

.thumbnail {
	display: block;
	max-width: 100%;
	max-height: 100%;
	border-radius: 12px;
}

.infoContainer{
	margin: 1.2vh 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: flex-start;
	align-items: left;
}

.infoText {
	font-size: min(2vw, 18px);
	padding: 0 0 1.6vh 0;
}

.infoHeader {
	color: $darkColor;
	font-size: min(1.4vw, 14px);
	font-weight: bold;
}

.board {
	width: 100%;
	flex-grow: 1;
	overflow: auto;
	box-sizing: border-box;
}

/* Hide the default scrollbar */
.board::-webkit-scrollbar {
	width: 0;
}

.board::-webkit-scrollbar-track {
	background: transparent;
}

.boardTable {
	border-collapse: collapse;
	width: 100%;
}

.boardTable td {
	height: 8.8vh;
	/*border: 1px solid #f4f0ec;*/
	border: none;
	text-align: center;
	box-sizing: border-box;
}

.roundCol {
	width: 10%;
}

.round {
	color: $darkColor;
	font-size: min(1.4vw, 14px);
	font-weight: bold;
}

.slotCol {
	width: 15%;
}

.slot {
	content: "";
	margin: auto;
	width: 65%;
	border-bottom: 1px solid $darkColor;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.optionsContainer {
	padding: 1.6vh 0 0 0;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	user-select: none;
}

.token {
	color: white;
	font-size: min(3vw, 2.2vh, 16px);
	border: none;
	border-radius: 30px;
	background-color: $lightColor;
	padding: 0.8vh 1.6vh;
	margin: min(1.2vw, 0.6vh);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.token:hover {
	cursor: pointer;
	background-color: $darkColor;
}

.token:active {
	transform: translateY(2px);
}

.correct {
	background-color: green;
}

.semiCorrect {
	background-color: orange;
}

.wrong {
	background-color: #646464;
}

@media screen and (max-width: 800px) {
	.top {
		height: 5%;
		flex-direction: row;
		justify-content: left;
		border-bottom: 1px solid $darkColor;
	}
	
	.title {
		height: 100%;
		font-size: 2.8vh;
		padding: 0.4vh 2vw;
		text-align: left;
		border: none;
	}
	
	.ticker {
		height: 100%;
		flex-grow: 1;
		flex-direction: column;
		padding: 0.4vh 2vw;
		border: none;
	}

	.issueNumber {
		width: 100%;
		text-align: right;
	}

	.description{
		display: none;
	}

	.date {
		width: 100%;
		text-align: right;
	}
	
	.main {
		height: 95%;
	}
	
	.videoContainer, .playContainer {
		width: 100%;
	}
	
	.videoContainer {
		height: 20%;
		padding: 1vh;
		flex-direction: row;
		justify-content: left;
	}
	
	.playContainer {
		height: 80%;
	}
	
	.infoContainer{
		margin: 0 2vh;
	}

	.infoText {
		font-size: min(3.6vw, 1.9vh);
		padding: 0 0 0.8vh 0;
	}

	.infoHeader {
		font-size: min(2.8vw, 1.5vh);
	}
	
	.round {
		font-size: min(2.8vw, 1.5vh);
	}
}