$backgroundColor: #FCF8F4;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

body {
	background: $backgroundColor;
	color: $bodyColor;
	font-family: $bodyFont;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100dvh;
	margin: 0;
}

.main {
	max-width: 1200px;
	width: 100%;
	height: 100%;
}

.top {
	width: 100%;
	height: 8%;
	padding: 1vh;
	font-size: 4.2vh;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}

.videoContainer, .playContainer {
	height: 90%;
	float: left;
	display: flex;
	flex-direction: column;
}

.videoContainer {
	width: 28%;
	padding: 0 2%;
	box-sizing: border-box;
	justify-content: flex-start;
	align-items: flex-start; /* Align items to the left */
}

.playContainer {
	width: 72%;
	justify-content: center;
	align-items: center;
	/*background-color: #fefbf8;*/
}

.thumbnail {
	display: block;
	max-width: 100%;
	max-height: 100%;
	border-radius: 12px;
}

.infoContainer{
	margin: 1.2vh 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: flex-start;
	align-items: left;
}

.infoText {
	font-size: min(2vw, 18px);
	padding: 0 0 1.6vh 0;
}

.infoHeader {
	font-size: min(1.4vw, 14px);
	font-weight: bold;
}

.board {
	width: 100%;
	flex-grow: 1;
	overflow: auto;
}

.boardTable {
	border-collapse: collapse;
	width: 100%;
}

.boardTable td {
	height: 9vh;
	border: 1px solid #f4f0ec;
}

/* Hide the default scrollbar */
.board::-webkit-scrollbar {
  width: 0;
}

.board::-webkit-scrollbar-track {
  background: transparent;
}

.optionsContainer {
	padding: 1.4vh 0;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	user-select: none;
}

.token {
	font-size: min(3.4vw, 2.2vh, 16px);
	border: none;
	border-radius: 30px;
	background-color: white;
	padding: 0.8vh 1.6vh;
	margin: min(1.2vw, 0.6vh);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.token:hover {
	cursor: pointer;
	background-color: #fafafa;
}

.token:active {
	transform: translateY(2px);
}

@media screen and (max-width: 800px) {
	.top {
		height: 5%;
		justify-content: left;
		font-size: 3vh;
	}
	
	.videoContainer, .playContainer {
		width: 100%;
	}
	
	.videoContainer {
		height: 18%;
		padding: 1vh;
		flex-direction: row;
		justify-content: left;
	}
	
	.playContainer {
		height: 77%;
	}
	
	.infoContainer{
		margin: 0 2vh;
	}

	.infoText {
		font-size: min(3.6vw, 1.9vh);
		padding: 0 0 0.8vh 0;
	}

	.infoHeader {
		font-size: min(2.8vw, 1.5vh);
		font-weight: bold;
	}
}