$backgroundLightColor: #F6F8FA;
$backgroundDarkColor: #F0F2F4;
$lightColor: #D20000;
$darkColor: #AF0000;
$bodyColor: #222;
$softGrey: #BEBEBE;
$bodyFont: Georgia,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

body {
	background: $backgroundDarkColor;
	color: $bodyColor;
	font-family: $bodyFont;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100dvh;
	margin: 0;
}

.main {
	background: $backgroundLightColor;
	max-width: 1100px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.top {
	width: 100%;
	height: 10%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}

.title {
	width: 100%;
	height: 72%;
	font-size: 4.2vh;
	font-weight: 900;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	/*color: $darkColor;*/
	font-family: Palatino;
	text-align: center;
	border-bottom: 4px double $bodyColor;
	box-sizing: border-box;
	overflow: visible;
}

.icon {
	height: 75%;
	padding: 0 0.6vh;
}

.ticker {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	height: 28%;
	font-size: 1.3vh;
	font-family: Georgia;
	font-weight: lighter;
	padding: 0 1.2vh;
	border-bottom: 4px double $bodyColor;
	box-sizing: border-box;
	overflow: visible;
}

.issueNumber {
	text-align: left;
	width: 30%;
}

.description{
	text-align: center;
	width: 40%;
}

.date {
	text-align: right;
	width: 30%;
	overflow: visible;
}


.bodyContainer {
	width: 100%;
	flex-grow: 1;
	overflow: auto;
	display: flex;
	flex-direction: row-reverse;
}

/* Hide the default scrollbar */
.bodyContainer::-webkit-scrollbar {
	width: 0;
}

.bodyContainer::-webkit-scrollbar-track {
	background: transparent;
}

.videoContainer, .boardContainer {
	float: left;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 0 1.6%;
	box-sizing: border-box;
}

.videoContainer {
	width: 33%;
	align-items: flex-start; /* Align items to the left */
}

.boardContainer {
	width: 65%;
	align-items: center;
	/*background-color: #fefbf8;*/
}

.thumbnail {
	display: block;
	max-width: 100%;
	max-height: 100%;
	border-radius: 10px;
}

.infoContainer{
	margin: 1.2vh 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: flex-start;
	align-items: left;
}

.infoText {
	font-size: min(2vw, 18px);
	padding: 0 0 1.6vh 0;
}

.infoHeader {
	font-size: min(1.4vw, 14px);
	font-weight: bold;
}

.boardTable {
	border-collapse: collapse;
	width: 100%;
}

.boardTable td {
	height: 8.8vh;
	/*border: 1px solid #f4f0ec;*/
	border: none;
	text-align: center;
	box-sizing: border-box;
}

.roundCol {
	width: 10%;
}

.round {
	font-size: min(1.4vw, 14px);
	font-weight: bold;
}

.slotCol {
	width: 15%;
}

.historyRow {
	width: 100%;
	display: flex;
}

.optionsContainer {
	width: 100%;
	padding: 1.6vh 0;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	user-select: none;
}

.token {
	color: $bodyColor;
	font-family: $bodyFont;
	font-size: min(3vw, 2.2vh, 16px);
	border: none;
	border-radius: 30px;
	background-color: white;
	padding: 0.8vh 1.6vh;
	margin: min(1.2vw, 0.6vh);
	user-select: none;
}

.token.option {
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.token.option:hover {
	cursor: pointer;
	background-color: #FAFAFA;
}

.token.option:active {
	transform: translateY(2px);
}

.headlineContainer {
	width: 100%;
	padding: min(1.6vh, 2vw) 1%;
	font-size: min(4.8vh, 6vw);
	font-family: Georgia;
	font-weight: 900;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	box-sizing: border-box;
}

.clearButton {
	position: relative;
	width: min(4.5vh, 6vw);
	height: min(4.5vh, 6vw);
	background: none;
	border: none;
	cursor: pointer;
	border-radius: 50%;
	font-size: 0;
	text-align: center;
	user-select: none;
}

.clearButton::before,
.clearButton::after {
	content: "";
	position: absolute;
	top: 25%;
	left: 50%;
	width: 2px;
	height: 50%;
	background: $softGrey;
}

.clearButton::before {
	transform: rotate(45deg);
}

.clearButton::after {
	transform: rotate(-45deg);
}

.clearButton:hover {
	opacity: 0.6;
}

.enterButton {
	width: min(4.5vh, 6vw);
	height: min(4.5vh, 6vw);
	padding: min(0.9vh, 1.2vw);
	border: none;
	cursor: pointer;
	background: none;
	background-image: url('../img/enter.svg');
	background-size: cover;
	background-origin: content-box;
	background-repeat: no-repeat;
	user-select: none;
}

.enterButton:hover {
	opacity: 0.6;
}

.slot {
	position: relative;
	flex-grow: 1;
	color: transparent;
	min-width: 10%;
	margin: 0.5vh 0.7%;
	padding: 0.5vh 1.9%;
	border-radius: 120px;
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.1), inset 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	box-sizing: border-box;
	user-select: none;
	perspective: 200vh;
	transform-style: preserve-3d;
}

.filled {
	background-color: white;
	cursor: pointer;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.animateFlip {
	animation: flip 0.7s forwards;
	box-shadow: none;
	transition: box-shadow 0.7s ease-out;
}

@keyframes flip {
  0% {
    transform: rotateX(0deg);
  }
  
  100% {
    transform: rotateX(180deg);
  }
}

.front, .back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: $bodyColor;
	backface-visibility: hidden;
}

.back {
	transform: rotateX(180deg);
	border-radius: 120px;
	box-sizing: border-box;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.inner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.correct {
	background-color: green;
}

.semiCorrect {
	background-color: orange;
}

.option.semiCorrect:hover {
	background-color: yellow;
}

.semiCorrectTint {
	background-color: #fbecd6;
}

.wrong {
	background-color: $softGrey;
}

.submitted {
	cursor: default;
}

.fixed {
	border: none;
	background-color: transparent;
	flex-grow: 0;
	min-width: 0;
	box-shadow: none;
	padding-left: min(0.5vh, 0.6vw);
	padding-right: min(0.5vh, 0.6vw);
}

.roundTransition {
	transition: all 0.7s ease-out;
}

@media screen and (max-width: 800px) {
	.top {
		height: 5%;
		flex-direction: row;
		justify-content: left;
		border-bottom: 1px solid $bodyColor;
	}
	
	.title {
		height: 100%;
		font-size: 2.5vh;
		padding: 0 1.6vw;
		justify-content: left;
		border: none;
	}
	
	.icon {
		height: 70%;
		padding: 0 0.4vh;
	}
	
	.ticker {
		height: 100%;
		flex-grow: 1;
		flex-direction: column;
		justify-content: center;
		padding: 0.4vh 2vw;
		border: none;
		font-size: min(1.4vh, 2.4vw);
	}

	.issueNumber {
		width: 100%;
		text-align: right;
	}

	.description{
		display: none;
	}

	.date {
		width: 100%;
		text-align: right;
	}
	
	.bodyContainer {
		flex-direction: column;
	}
	
	.videoContainer, .boardContainer {
		width: 100%;
	}
	
	.videoContainer {
		height: 18vh;
		padding: 0 1vh;
		flex-direction: row;
		justify-content: left;
	}
	
	.thumbnail {
		max-width: 60%;
		max-height: 100%;
	}
	
	.infoContainer{
		margin: 0 2vh;
	}

	.infoText {
		font-size: min(3.6vw, 1.9vh);
		padding: 0 0 0.8vh 0;
	}

	.infoHeader {
		font-size: min(2.8vw, 1.5vh);
	}
	
	.round {
		font-size: min(2.8vw, 1.5vh);
	}
}